# BEGIN WordPress Separation
# このディレクトリ以下はWordPressのルールから除外する
# RewriteEngine Off # URL書き換えのためコメントアウトまたは削除

# Enable URL rewriting
RewriteEngine On

# Disable directory listing
Options -Indexes

# Remove trailing slash from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Rewrite rule to hide .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Rewrite rule to map directory access to index.html (silently)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ $1/index.html [L]

# END WordPress Separation
